# Ignore build directory inside cpp/
cpp/build/

# Ignore Python bytecode caches
__pycache__/
**/__pycache__/

# Ignore virtual environment inside python/
python/.venv/

# Ignore external libraries
cpp/external/

# Ignore vscode workspace settings
.vscode/